h5py==3.16.0
joblib==1.5.3
matplotlib==3.11.1
nnoir==1.4.0
numba==0.66.0
opencv-python==4.11.0.86
optuna==4.9.0
pandas==3.0.5
Pillow-SIMD==9.5.0.post2
progressbar2==4.5.0
pytorch-ignite==0.5.5
pytorch-pfn-extras==0.9.0
scikit-image==0.26.0
scikit-learn==1.9.0
scipy==1.18.0
tensorboardX==2.6.5
torch==2.13.0
torchvision==0.28.0
tqdm==4.69.0
transformers==5.14.1
xmltodict==1.0.4
