h5py==3.1.0
joblib==0.17.0
matplotlib==3.3.3
nnoir==1.0.5
numba==0.51.2
opencv-python==4.4.0.46
optuna==2.3.0
pandas==1.1.4
Pillow-SIMD==7.0.0.post3
progressbar2==3.53.1
pytorch-ignite==0.4.2
pytorch-pfn-extras==0.3.1
scikit-image==0.17.2
scikit-learn==0.23.2
scipy==1.5.4
tensorboardX==2.1
torch==1.7.0
torchvision==0.8.1
tqdm==4.52.0
xmltodict==0.12.0
