h5py==3.11.0
joblib==1.4.2
matplotlib==3.9.0
nnoir==1.1.0
numba==0.59.1
opencv-python==4.10.0.82
optuna==3.6.1
pandas==2.2.2
Pillow-SIMD==9.0.0.post1
progressbar2==4.4.2
pytorch-ignite==0.5.0.post2
pytorch-pfn-extras==0.7.6
scikit-image==0.23.2
scikit-learn==1.5.0
scipy==1.13.1
tensorboardX==2.6.2.2
torch==2.3.0
torchvision==0.18.1
tqdm==4.66.4
transformers==4.41.2
xmltodict==0.13.0
